<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594000779640-lqra054r1bhj0pk5n6f8q2s9arnk98a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594000779640-lqra054r1bhj0pk5n6f8q2s9arnk98a3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>594000779640-5gpv2ritpsvualulclpv30qh57ur46mm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUTRAEf6l0u2L1THNAeBAx0imDJx_oaHU</string>
	<key>GCM_SENDER_ID</key>
	<string>594000779640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eliezer.debbo</string>
	<key>PROJECT_ID</key>
	<string>eliezer-dfbd8</string>
	<key>STORAGE_BUCKET</key>
	<string>eliezer-dfbd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594000779640:ios:9ef5204c84fcbea66cd08d</string>
	<key>DATABASE_URL</key>
	<string>https://eliezer-dfbd8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>